.about {
    margin: 130px 0;
    @include respond-to('mobile') {
        margin: 50px 0;
    }
    &__wrapper {

    }
    &__descr {
        &-subtitle {
            text-align: left;
        }
        &-title {
            text-align: left;
        }
    }
    &__item {
        margin-bottom: 128px;
        @include respond-to('laptop') {
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
        &:nth-child(odd) {
            display: flex;
            .about {
                &__descr {
                    max-width: 680px;
                    margin-right: 30px;
                    @include respond-to('laptop') {
                        max-width: 100%;
                    }
                    @include respond-to('mobile') {
                        margin-right: 0;
                    }
                    &-title {
                        margin-bottom: 32px;
                        @include respond-to('laptop') {
                            font-size: 40px;
                        }
                        @include respond-to('mobile') {
                            font-size: 32px;
                        }
                    }
                    &-subtitle {
                        margin-bottom: 19px;
                        color: $headingColor;
                        @include respond-to('laptop') {
                            font-size: 32px;
                        }
                        @include respond-to('mobile') {
                            font-size: 28px;
                        }
                    }
                    &-divider {
                        max-width: 680px;
                        margin-bottom: 8px;
                    }
                    &-text {
                    }
                }
                &__img {
                    width: 50%;
                    @include respond-to('laptop') {
                        width: 70%;
                        margin: 30px 0;
                    }
                    @include respond-to('mobile') {
                        width: 100%;
                    }
                }
            }
        }
        &:nth-child(even) {
            display: flex;
            flex-direction: row-reverse;
            .about {
                &__descr {
                    max-width: 955px;
                    &-title {
                        margin-bottom: 19px;
                        color: $headingColor;
                        @include respond-to('laptop') {
                            font-size: 32px;
                        }
                        @include respond-to('mobile') {
                            font-size: 28px;
                        }
                    }
                    &-secondtitle {
                        margin: 64px 0 19px;
                        color: $headingColor;
                        @include respond-to('laptop') {
                            font-size: 32px;
                        }
                    }
                    &-divider {
                        margin-bottom: 8px;
                    }
                }
                &__img {
                    max-height: 613px;
                    max-width: 542px;
                    margin: 0 32px 0 0;
                    @include respond-to('tablet') {
                        width: 55%;
                        margin: 32px 0 0 0;
                    }
                    @include respond-to('mobile') {
                        width: 100%;
                    }
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {

    }
}

html {
    &[lang="he_IL"] {
        .about {
            &__item {
                &:nth-child(odd) {
                    .about {
                        &__descr {
                            margin-left: 30px;
                        }
                    }
                }
                &:nth-child(even) {
                    .about {
                        &__img {
                            margin: 0 0 0 32px;
                        }
                    }
                }
            }
            &__descr {
                &-subtitle {
                    text-align: right;
                }
            }
        }
    }
}
