.articles {
    padding: 0 0 140px;
    &__title {
        text-align: left;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        margin-top: 64px;
        @include respond-to('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond-to('mobile') {
            display: flex;
            flex-direction: column;
            grid-template-columns: 1fr;
        }
    }
}
