.banner {
    position: relative;
    padding: 136px 0 125px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 0;
    @include respond-to( 'tablet') {
        padding: 70px 0;
        margin: 30px 0;
    }
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        left: 0;
        background: linear-gradient(107.55deg, rgba(26, 30, 32, 0.8) 0%, rgba(39, 49, 54, 0.8) 107.79%);
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        @include respond-to( 'desktop-m') {
            flex-flow: wrap;
        }
    }
    &__descr {
        max-width: 474px;
        margin-top: 72px;
        @include respond-to( 'desktop-m') {
            order: 3;
            max-width: 865px;
        }
        @include respond-to( 'tablet') {
            margin-top: 32px;
        }
        &-title {
            text-align: left;
            color: $white;
            margin-bottom: 16px;
        }
        &-descr, .p2 {
            color: $greyColor;
        }
        &-readmore {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;
            color: $white;
            &-link {
                color: $white;
                margin-right: 16px;
                .icon {
                    font-size: 12px;
                    display: inline-block;
                    margin-left: 16px;
                }
            }
        }
    }
    &__img {
        max-width: 468px;
        max-height: 480px;
        @include respond-to( 'desktop-m') {
            order: 1;
        }
        @include respond-to( 'tablet') {
            margin: 0 0 30px;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        @include respond-to( 'desktop-m') {
            order: 2;
        }
        &-item {
            display: flex;
            flex-direction: row;
            max-width: 400px;
            margin:0 50px 32px 0;
            @include respond-to('tablet') {
                max-width: 100%;
                margin:0 0 32px 0;
            }
            &-descr {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                color: $white;
                width: calc(100% - 84px - 32px);
                &-title {
                    margin: 0;
                    color: $white;
                    text-align: left;
                }
                &-text {
                    color: $greyColor;
                }
            }
            &-img {
                width: 84px;
                height: 84px;
                display: block;
                margin-right: 32px;
            }
        }
    }
    &.no_margin {
        margin: 0;
    }
}

html {
    &[lang="he_IL"] {
        .banner__box-item {
            margin: 0 0 32px 0;
            &-img {
                margin: 0 0 0 32px;
            }
        }
    }
}
