.contacts {
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include respond-to('desktop-m') {
            flex-wrap: wrap;
        }
        @include respond-to('laptop') {
            flex-wrap: wrap;
            align-items: center;
        }
    }
    &__descr {
        width: 32.86%;
        @include respond-to('desktop-m') {
            width: 100%;
        }
        &-divider {
            margin: 0 auto;
            margin-top: 24px;
            margin-bottom: 8px;
            @include respond-to('desktop-m') {
                max-width: 539px;
            }
        }
        &-title,
        &-text {
            text-align: left;
        }
    }
    &__form {
        width: 24.58%;
        margin-top: 30px;
        @include respond-to('desktop-m') {
            width: 40%;
        }
        @include respond-to('laptop') {
            margin-left: 0;
        }
        @include respond-to('mobile') {
            width: 100%;
        }
        &-item {
            box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);
        }
        &-button {
            box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);
            margin-top: 16px;
            width: 100%;
        }
    }
    &__contacts {
        margin-top: 30px;
        width: 31.13%;
        @include respond-to('desktop-m') {
            margin-top: 20px;
            width: 40%;
        }
        @include respond-to('mobile') {
            width: 100%;
        }
        &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        &-link {
            font-size: 24px;
            color: $darkgrey;
            font-family: $font;
            @include respond-to('mobile') {
                font-size: 16px;
            }
        }
        &-item {
            .icon {
                margin-right: 10px;
            }
            .icon-telephone {
                font-size: 20px;
                color: #20A60A;
            }
            .icon-mail {
                font-size: 16px;
                color: $greyColor;
            }
            .icon-mapdot {
                font-size: 24px;
                color: #E27158;
            }
        }
        &-map {
            margin-top: 6px;
            height: 300px;
        }
    }
}



