.hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background: linear-gradient(107.55deg, rgba(26, 30, 32, 0.8) 0%, rgba(39, 49, 54, 0.8) 107.79%);
    }
    .container {
        height: 100%;
    }
    &__wrapper {
        z-index: 1;
        position: relative;
        padding: 386px 0px 25px 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include respond-to('tablet') {
            padding: 152px 0 32px 0;
        }
        @include respond-to('mobile') {
            padding: 105px 0 32px 0;
        }
    }
    &__navigation {
        @include respond-to('tablet') {
            display: none;
        }
    }
    &__slide {
        display: flex;
        justify-content: center;
        margin-bottom: 94px;
        align-items: center;
        height: auto;
        @include respond-to('tablet') {
            margin-bottom: 24px;
        }
        @include respond-to('mobile') {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-img {
            width: 410px;
            height: 421px;
            @include respond-to('laptop') {
                width: 311px;
                height: 320px;
            }
            @include respond-to('tablet') {
                width: 311px;
                height: 320px;
            }
            @include respond-to('mobile') {
                width: 100%;
                height: 170px;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            margin-left: 45px;
            max-width: 500px;
            @include respond-to('mobile') {
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &-title {
            margin-top: 4px;
            color: $white;
            font-family: $fontCinzel;
        }
        &-descr {
            color: transparentize($white, 0.3);
            margin-top: 10px;
            @include respond-to('mobile') {
                text-align: center;
            }
        }
        &-btn {
            &.btn {
                align-self: flex-start;
                margin: 55px 0 0 0;
                @include respond-to('mobile') {
                    margin-top: 32px;
                    align-self: center;
                    padding: 15px 30px;
                }

            }
        }
    }
    .swiper-pagination {
        margin: 0;
        &-bullet {
            border: 2px solid $white;
            background: linear-gradient(107.55deg, rgba(26, 30, 32, 0.8) 0%, rgba(39, 49, 54, 0.8) 107.79%);
        }
        &-bullet-active {
            border: none;
            background: linear-gradient(180deg, #FFFFC8 0%, #97793D 100%);
        }
    }

    .swiper-button {
        &-next {
            margin-top: 80px;
            color: $greyColor;
            &:after {
                font-family: Inter;
                font-size: 0;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: none;
                line-height: 0;
            }
            &:before {
                font-size: 56px;
            }
        }
        &-prev {
            transform: rotate(180deg);
            margin-top: 80px;
            color: $greyColor;
            &:after {
                font-family: Inter;
                font-size: 0;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: none;
                line-height: 0;
            }
            &:before {
                font-size: 56px;
            }
        }
    }
}









