.ketubah {
    &__wrapper {
        display: flex;
        @include respond-to('desktop') {
            flex-direction: column;
        }
    }
    &__descr {
        width: 35%;
        @include respond-to('desktop') {
            width: 100%;
        }
        &-title {
            text-align: left;
            text-transform: capitalize;
        }
        &-subtitle {
            text-align: left;
            text-transform: capitalize;
            margin-top: 16px;
        }
        &__divider {
            margin: 16px 0 8px;
        }
        &-text {
            text-align: left;
        }
    }
    &__gallery {
        margin-left: 52px;
        display: grid;
        width: 62%;
        grid-template-columns: auto;
        grid-auto-rows: minmax(235px, auto);
        grid-template-rows: repeat(2, 280px);
        grid-auto-flow: column;
        grid-gap: 32px;
        @include respond-to('laptop') {
            width: 100%;
            margin-left: 0;
        }
        @include respond-to('tablet') {
            grid-gap: 16px;
        }
        @include respond-to('mobile') {
            grid-template-columns: repeat(3, auto);
            grid-gap: 4px;
        }
        &-item {
            &.big {
                grid-row: 1/3;
            }
        }
    }
}
