.main-title {
    padding: 0 0 64px;
    align-items: center;
    @include respond-to('tablet') {
        padding: 0 0 24px;
    }
    &__title {
        text-align: left;
    }
    &__divider {
        width: 45%;
        margin: 0 auto;
        margin-top: 16px;
    }
    &__descr {
        text-align: center;
        margin-top: 8px;
    }
}

html {
    &[lang="he_IL"] {
        .main-title {
            &__title {
                text-align: right;
            }
        }
    }
}
