.service {
    padding: 0 0 120px;
    @include respond-to('desktop') {
        padding: 0 0 40px;
    }
    &__title {
        text-align: left;
    }
    &__descr {
        max-width: 948px;
        @include respond-to('desktop-m') {
            max-width: 1680px;
        }
        &-title {
            text-align: left;
            color: $headingColor;
        }
        &-divider {
            border: 1px solid $lightgold;
            max-width: 903px;
            text-align: left;
            margin: 15px 0 8px;
        }
    }
    &__container {
        display: flex;
        margin-top: 32px;
        @include respond-to('desktop-m') {
            flex-wrap: wrap;
        }
    }
    &__picture {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 32px;
        max-width: 682px;
        @include respond-to('desktop-m') {
            margin: 0 auto;
            margin-top: 30px;
        }
        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            background: linear-gradient(107.55deg, rgba(26, 30, 32, 0.8) 0%, rgba(39, 49, 54, 0.8) 107.79%);
        }
        &-wrapper {
            z-index: 1;
            padding: 111px 50px 171px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-davidestar {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 0;
            max-width: 157px;
            max-height: 157px;
            color: $greyColor;
            opacity: 0.8;
            margin: 0 auto;
        }
        &-descr {
            text-align: center;
            position: relative;
            z-index: 1;
            font-family: $fontAbyssinica;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            color: $white;
            @include respond-to('mobile-sm') {
                font-size: 18px;
            }
        }
        &-mark {
            font-family: $fontArizonia;
            font-weight: 400;
            font-size: 40px;
            line-height: 150%;
            text-align: center;
            text-transform: capitalize;
            color: $lightgold;
            @include respond-to('mobile-sm') {
                font-size: 32px;
            }
        }
    }
}
