.promotions {
    &:nth-child(even) {
        padding: 0 0 140px;
    }
    &__wrapper {
        overflow: visible;
        visibility: visible;
    }
    &__subtitle {
        text-align: left;
        margin: 64px 0 32px;
        color: $headingColor;
    }
    &__cardwrap {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
    }
    .card_white {
        @include respond-to('tablet') {
            &:active {

            }
        }
    }
    /*&__card {
        opacity: 0;
        &.swiper {
            &-slide {
                &-active {
                    opacity: 1;
                    @include animate(all);
                    &+.card {
                        opacity: 1;
                        @include animate(all);
                        &+.card {
                            opacity: 1;
                            @include animate(all);
                        }
                    }
                }
            }
        }
    }*/
}
