.top-slider {
    padding: 64px 0 64px 0;
    &__wrapper {
        overflow: visible;
        visibility: visible;
    }
    &__title {
        @include respond-to('mobile-sm') {
            font-size: 32px;
        }
    }
    &__divider {
        margin: 0 auto;
        height: 2px;
        width: 45%;
        margin-top: 16px;
        align-items: center;
        background-color: $lightgold;
        @include respond-to('desktop') {
            width: 75%;
        }
    }
    &__descr {
        margin: 0 auto;
        margin-top: 8px;
        width: 764px;
        text-align: center;
    }
    &__cardwrap {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
    }
    &__card {
        opacity: 0;
        &.swiper {
            &-slide {
                &-active {
                    opacity: 1;
                    @include animate(all);
                    &+.card {
                        opacity: 1;
                        @include animate(all);
                        &+.card {
                            opacity: 1;
                            @include animate(all);
                        }
                    }
                }
            }
        }
    }
}
