
@font-face {
    font-family: 'Beau Rivage';
    src: url('../fonts/BeauRivage-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Petit Formal Script';
    src: url('../fonts/PetitFormalScript-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('../fonts/Inter-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Arizonia';
    src: url('../fonts/Arizonia-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Abyssinica SIL';
    src: url('../fonts/AbyssinicaSIL-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/iconmoon/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-doublearrow:before {
    content: "\e900";
}
.icon-home:before {
    content: "\e902";
}
.icon-search:before {
    content: "\e903";
}
.icon-smallarrow:before {
    content: "\e906";
}
.icon-arrowr:before {
    content: "\e901";
}
.icon-mail:before {
    content: "\e904";
}
.icon-mapdot:before {
    content: "\e905";
}
.icon-telephone:before {
    content: "\e908";
}
.icon-phone:before {
    content: "\e942";
}
.icon-user:before {
    content: "\e971";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-youtube:before {
    content: "\ea9d";
}
.icon-linkedin2:before {
    content: "\eaca";
}

