* {
    -webkit-font-smoothing: antialiased;
    outline: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    background-color: transparent;
}
html, body {
    overflow-x: hidden;
    background: $bgColor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
html {
    margin: 0;
    padding: 0;
    &.nav-active {
        overflow: hidden;
    }
}
body {
    padding: 220px 0 0;
    height: 100%;
    margin: 0;
    font-family: $font;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6em;
    color: $fontColor;
    @include respond-to('tablet') {
        padding: 168px 0 0;
    }
    @include respond-to('tablet-sm') {
        padding: 185px 0 0;
    }
    @include respond-to('mobile') {
        font: 400 14px/20px $font;
        padding: 108px 0 0;
    }
    &.home {
        padding: 0;
    }
}
input, textarea {
    color: $fontColor;
    font: 400 16px/19px $font;
    border: none;
    margin-top: 16px;
    @include respond-to('mobile') {
        font: 400 14px/17px $font;
    }
}

a img {
    border: none;
}

img,
picture {
    object-fit: contain;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}

main,
.main {
    padding: 0 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

section {
    position: relative;
}



.swiper {
    &-wrapper {
        align-items: stretch;
    }
    &-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        left: 50%;
        z-index: 5;
        @include respond-to('tablet') {
            display: none;
        }
        .swiper {
            &-button {
                &-next,
                &-prev {
                    position: static;
                    color: $darkgrey;
                }
                &-next {
                    margin-right: 30px;
                }
                &-prev {
                    margin-left: 30px;
                }
            }
        }
    }
    &-button {
        &-next {
            margin-top: 80px;
            color: $greyColor;
            &:after {
                font-family: Inter;
                font-size: 0;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: none;
                line-height: 0;
            }
            &:before {
                font-size: 56px;
            }
        }
        &-prev {
            transform: rotate(180deg);
            margin-top: 80px;
            color: $greyColor;
            &:after {
                font-family: Inter;
                font-size: 0;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: none;
                line-height: 0;
            }
            &:before {
                font-size: 56px;
            }
        }
    }
    &-pagination {
        position: static;
        z-index: 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-top: 32px;
        &-bullet {
            background-color: $white;
            border: 2px solid $headingColor;
            &-active {
                border: none;
                background: linear-gradient(107.55deg, #1A1E20 0%, #273136 107.79%);
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    min-width: 413px;
    @include respond-to('mobile-sm') {
        min-width: 411px;
    }
    input {
        line-height: 1em;
        background: $white;
        padding: 13px 22px;
        opacity: 0.8;
        border-radius: 4px;
        margin-top: 16px;
        color: $headingColor;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.8);
        @include respond-to('mobile-sm') {
            min-height: 56px;
        }
    }
    textarea {
        margin-top: 16px;
        color: $headingColor;
        padding: 13px 22px;
        opacity: 0.8;
        border-radius: 4px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.8);
        min-height: 189px;
    }
}

select {
    -webkit-appearance: none;
    padding: 0 6px;
    cursor: pointer;
    &:before {
        content: '\e900';
        font-family: 'icomoon' !important;
        font-size: 20px;
        color: $black;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        transition: .25s all ease;
        pointer-events: none;
    }
    &::-ms-expand {
        display: none;
    }
    option {
        padding: 0 6px;
    }

}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.ellip {
    display: block;
    height: 100%
}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: bottom
}

.ellip, .ellip-line {
    position: relative;
    overflow: hidden;
    max-width: 100%
}

