/**
 *  Colors
 */

$black: #000;
$white: #fff;
$light: #FCFCFD;
$bg: #000;
$fontColor: #656564;
$linkColor: #6F89CE;;
$primary: #777777;
$secondary: #CCCBCB;
$headingColor: #292929;
$bgColor: #F5F5F5;
$greyColor: #A7AAAB;
$lightgold: #D4D4A8;
$darkgrey: #656564;
$grey: #A7AAAB;
$hovergold: #F1F1ED;
$creamwhite: #FBFBFB;
$hoverlink: #BACDFF;
$notwhite: #D6D6D6;
$error: #E50000;




$fontCinzel:  'Cinzel', serif;
$fontItalic:  'Inter-Italic', sans-serif;
$font:  'Inter', sans-serif;
$fontRivage:  'Beau Rivage', cursive;
$fontPFS:  'Petit Formal Script', cursive;
$fontArizonia:  'Arizonia', cursive;
$fontAbyssinica: 'Abyssinica SIL', sans-serif;
