a.btn,
%btn,
.btn,
button {
  font-size: 16px;
  text-decoration: none;
  text-transform: unset;
  border-radius: 50px;
  outline: none;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid $secondary;
  color: $fontColor;
  font-family: $font;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 13px 24px;
  align-self: center;
  width: auto;
  display: inline-flex;
  @include animate(all);
    @include respond-to('mobile') {
        font-size: 14px;
    }
  &:before {
    display: none;
  }
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $secondary;
    background-color: $secondary;
    color: $bg;
    outline: none;
    @include animate(all);
  }
  &:disabled {
    @include animate(all);
    background-color: transparentize($fontColor, 0.9);
    color: transparentize($fontColor, 0.5);
    border: 1px solid $bg;
    box-shadow: unset;
    pointer-events: none;
    cursor: default;
  }
}
