.card {
    padding: 32px;
    overflow: hidden;
    background-color: $hovergold;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    height: 776px;
    @include animate(all);
    @include respond-to('mobile') {
        height: auto;
    }
    &_white {
        padding: 32px;
        height: auto;
        background-color: $white;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        min-height: 776px;
        @include animate(all);
        &__content {
            flex-grow: 1;
            margin-top: 32px;
        }
        &:hover {
            .card {
                &__text {
                    display: block;
                    z-index: 1;
                    opacity: 1;
                    /*max-height: 400px;*/
                    @include animate(all);
                }
                &__btn {
                    display: block;
                    position: static;
                    z-index: 1;
                    opacity: 1;
                    /*max-height: 70px;*/
                    @include animate(all);
                    &.btn {
                        display: inline-flex;
                    }
                }
                &__img {
                    width: 65.67%;
                    height: 360px;
                    @include animate(all);
                    @include respond-to('mobile') {
                        width: 100%;
                    }
                }
            }
        }

    }
    &_article {
        padding: 94px 61px 80px;
        height: auto;
        background-color: $white;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        min-height: 776px;
        &:hover {
            .card {
                &__img {
                    transform: scale(120%);
                    width: 80%;
                    height: 347px;
                    @include animate(all);
                }
                &__title {
                    transform: scale(120%);
                }
                /*&__text {
                    transform: scale(120%);
                }*/
            }
        }
        .card {
            &__content {
                margin-top: 94px;
            }
            &__title {
                color: $headingColor;
            }
            &__text {
                display: block;
                z-index: 1;
                opacity: 1;
                /*max-height: 400px;*/
                @include animate(all);
            }
            &__price {
                display: none;
            }
            &__btn {
                display: none;
                position: relative;
                z-index: 1;
                opacity: 1;
                @include animate(all);
                &.btn {
                    display: none;
                }
            }
            &__img {
                width: 80%;
                height: 347px;
                @include animate(all);
            }
        }
    }
    &:hover {
        .card {
            &__text {
                position: relative;
                top: 0;
                z-index: 0;
                opacity: 1;
            }
            &__btn {
                display: block;
                position: relative;
                z-index: 1;
                opacity: 1;
                @include animate(all);
                &.btn {
                    display: inline-flex;
                }
            }
            &__img {
                position: relative;
                z-index: 1;
                width: 65.67%;
                height: 330px;
                @include animate(all);
                @include respond-to('mobile') {
                    width: 100%;
                }
            }
        }
    }
    &__content {
        flex-grow: 1;
        margin-top: 32px;
    }
    &__price {
        margin-top: 31px;
    }
    &__text {
        margin: 8px auto 0;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 100%;
        z-index: -1;
        width: 100%;
        @include respond-to('tablet') {
            z-index: 1;
            opacity: 1;
            position: relative;
            top: 0;
            @include animate(all);
        }
        @include respond-to('mobile-sm') {
            display: none;
            z-index: 1;
        }
    }
    &__img {
        flex-grow: 0;
        width: 100%;
        height: 450px;
        object-fit: contain;
        margin: 0 auto;
        @include animate(all);
        @include respond-to('tablet') {
            width: 65.67%;
            height: 360px;
            @include animate(all);
        }
        @include respond-to('mobile') {
            width: 100%;
        }
    }
    &__title {
        margin: 0;
    }
    &__price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 31px 0 0 0;
    }
    &__btn {
        flex-grow: 0;
        @include animate(all);
        @include respond-to('tablet') {
            display: block;
            position: static;
            z-index: 1;
            opacity: 1;
            @include animate(all);
        }
        &.btn {
            display: none;
            margin-top: 17px;
            @include animate(all);
            @include respond-to('tablet') {
                display: inline-flex;
            }
            @include respond-to('mobile-sm') {
                padding: 16px 41.5px;
            }
        }
    }
}
