.footer {
    padding: 54px 0 52px 0;
    width: 100%;
    background-color: $bgColor;
    &__wrapper {

    }
    &__main {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__logo {
        width: 23.27%;
    }
    &__nav {
        width: 47.61%;
    }
    &__menu{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: end;
        align-content: space-around;
        justify-content: space-between;
        gap: 10px 20px;
        &-link {
            color: $headingColor;
        }
        &-item {

        }
    }
    &__contacts {
        padding: 0;
        margin: 0;
        width: 13.1%;
        text-align: right;
    }
    &__copyright {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 84px;
        font-weight: 400;
        font-size: 15px;
        line-height: 170%;
        color: $greyColor;
    }
}


