.footer {
    padding: 17px 0 52px 0;
    width: 100%;
    background-color: $bgColor;
    &__wrapper {

    }
    &__divider {
        opacity: 0.2;
        border: 1px solid $headingColor;
        max-width: 1740px;
        margin: 0 auto;
        @include respond-to('tablet') {
            max-width: 904px;
        }
        @include respond-to('mobile-sm') {
            max-width: 311px;
        }
    }
    &__main {
        margin-top: 55px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

    }
    &__logo {
        width: 23%;
    }
    &__nav {
        width: 55%;
    }
    &__menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        align-items: end;
        align-content: end;
        grid-template-columns: repeat(4, 1fr);
        gap: 7px 15px;
        &-link {
            color: $headingColor;
        }
        &-item {
            font-size: 16px;
            margin: 0;
        }
    }
    &__contacts {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;
        width: 13.1%;
        text-align: right;
        &-link {
            color: $headingColor;
            font-size: 16px;
        }
        &-item {
            margin: 0;
        }
        &-phone {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-family: $fontItalic;
            font-weight: 400;
            font-size: 16px;
            .icon-telephone {
                color: $headingColor;
                margin-right: 5px;
            }
        }
    }
    &__copyright {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 80px;
        font-weight: 400;
        font-size: 15px;
        line-height: 170%;
        color: $greyColor;
    }
}


