.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: $bgColor;
    &__burger {
        display: none;
        @include respond-to('mobile') {
            display: inline-block;
            order: 2;
        }
    }
    &__head {
        padding: 18px 0;
        width: 100%;
        max-height: 300px;
        background: linear-gradient(180deg, rgba(255, 255, 200, 0.3) 0%, rgba(151, 121, 61, 0.3) 100%);
        @include animate(all);
        @include respond-to('tablet') {
            display: none;
        }
        a,
        .link {
            color: $darkgrey;
            font-family: $fontItalic;
            @include animate(all);
            &:hover {
                color: transparentize($darkgrey, 0.5);
            }
        }
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:before {
                content: "";
                display: block;
                width: 391px;
                @include respond-to('desktop-m') {
                    display: none;
                }
            }
        }
        &-nav,
        .menu-header-main-menu-container {
            width: 60%;
            @include respond-to('desktop-m') {
                width: calc(90% - 170px);
            }
        }
        &-list {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 0 -16px;
            padding: 0;
            list-style-type: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
        }
        li,
        .menu-item {
            margin-right: 29px;
            &.active {
                a {
                    color: $headingColor;
                }
            }
        }
        &-phone {
            font-family: $fontItalic;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            min-width: 170px;
            .icon {
                display: inline-block;
                margin: 0 15px 0 0;
                color: $darkgrey;
            }
            a.phone {
                color: $darkgrey;
            }
        }

    }
    &__menu {
        width: 100%;
        @include animate(all);
        @include respond-to('laptop') {
            padding: 10px 0;
        }
        @include respond-to('mobile') {
            margin: 0;
        }
        a,
        .link {
            @include animate(all);
            color: $greyColor;
            font: $fontItalic;
            &:hover {
                color: transparentize($greyColor, 0.5);
            }
        }
        &-lang {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 170px;
            @include respond-to('desktop-m') {
                width: 90px;
                align-items: flex-end;
            }
            @include respond-to('tablet'){
                order: 1;
            }
            @include respond-to('mobile') {
                display: none;
            }
            &_mobile {
                display: none;
                @include respond-to('mobile') {
                    display: flex;
                }
            }
            .lang-item {
                margin: 0 0 0 15px;
                list-style: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 0;
                line-height: 0;
                &:nth-child(even) {
                    margin-left: 0;
                    &:before {
                        content: "/";
                        line-height: 1em;
                        font-size: 20px;
                        color: $white;
                        align-self: center;
                        margin: 0 4px;
                    }
                }
                img {
                    width: 32px !important;
                    height: 24px !important;
                }
            }
        }
        &-wrapper{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @include respond-to('tablet') {
                flex-wrap: wrap;
            }
        }
        &-logo {
            width: 391px;
            margin-top: 16px;
            display: inline-block;
            @include respond-to('desktop-m'){
                width: 221px;
            }
            @include respond-to('tablet'){
                width: 196px;
                order: 0;
                margin: 0;
            }
            .logo {
                display: block;
            }
            .logo-scroll {
                display: none;
            }
        }
        &-nav {
            display: flex;
            align-items: flex-end;
            padding-right: 40px;
            width: 60%;
            @include respond-to('desktop-m') {
                width: calc(100% - 90px - 221px);
                padding-left: 16px;
            }
            @include respond-to('tablet') {
                width: 100%;
                order: 2;
                padding: 0;
                align-items: center;
                justify-content: space-between;
                margin: 15px 0 0;
            }
            @include respond-to('mobile') {
                justify-content: flex-end;
                padding: 0;
                width: auto;
                align-items: center;
                margin-bottom: 10px;
            }
        }
        .header__menu-items,
        .menu-header-privacy-menu-container {
            @include animate(all);
            @include respond-to('mobile') {
                display: none;
            }
        }
        &-list, .menu-header-privacy-menu-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0 0 -8px;
            padding: 0;
            font-family: $fontItalic;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            @include respond-to('desktop-m') {
                font-size: 14px;
            }
            &-dot_adapt {
                .dot_adapt {
                    @include respond-to('desktop-m') {
                        display: block;
                    }
                }

            }
        }
        li,
        .menu-item {
            margin: 0 12px 16px 0;
            position: relative;
            display: inline-block;
            &:hover {
                ul,
                .sub-menu {
                    display: block;
                }
            }
            &.active {
                & > a {
                    color: $headingColor;
                }
            }
            &.menu-item-has-children {
                position: relative;
                &:before {
                    display: block;
                    content: '';
                    width: 100%;
                    background-color: transparent;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        &-sublist,
        .sub-menu {
            display: none;
            padding: 20px 20px 0;
            position: absolute;
            background-color: #f1f1f1;
            width: 384px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 4px;
            column-count: 2;
            column-gap: 5px;
            @include respond-to('tablet') {
                width: 320px;
            }
            @include respond-to('mobile') {
                padding: 5px 5px 0 0px;
                margin: 0;
                position: static;
                width: 280px;
                display: block;
                background-color: transparent;
                box-shadow: none;
                .header__menu-item {
                    font-size: 10px;
                    color: white;
                }
            }
        }
        &-dot {
            height: 4px;
            width: 4px;
            margin: 0 16px 7px 25px;
            border-radius: 50%;
            background-color: $greyColor;
            display: block;
            @include respond-to('tablet') {
                display: none;
            }
            @include respond-to('mobile') {
                display: block;
                order: 1;
                margin: 0 10px;
            }
        }
        .icon {
            font-size: 20px;
            color: $greyColor;
            @include respond-to('mobile') {
                order: 0;
                color: $darkgrey;
            }
        }
        &-span {
            margin: 0 8px;
            color: $greyColor;
            line-height: 1em;
        }
        &-line {
            margin-top: 34px;
            width: 100%;
            height: 0px;
            border: 1px solid $hovergold;
            @include respond-to('tablet') {
                margin-top: 24px;
                display: none;
            }
        }
    }
    &__search {
        position: relative;
        cursor: pointer;
        @include respond-to("tablet") {
            position: static;
        }
        &-form {
            position: relative;
            @include respond-to("tablet") {
                margin-top: 15px;
            }
            button {
                &.btn {
                    background-color: transparent;
                    position: absolute;
                    min-width: unset;
                    right: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                    border: none;
                    padding: 0;
                    margin: 0;
                    font-size: 26px;
                    color: $darkgrey;
                    @include respond-to('mobile') {
                        font-size: 20px;
                    }
                }
            }
        }
        &-drop {
            position: absolute;
            right: 0;
            top: calc(100% + 25px);
            width: 360px;
            display: none;
            &.active {
                display: block;
            }
            @include respond-to('tablet') {
                width: 300px;
                right: 20px;
                top: 100%;
            }
            @include respond-to('mobile') {
                width: calc(100vw - 40px);
            }
        }

        &-input {
            position: relative;
            margin: 0;
            padding: 13px 45px 13px 22px;
            box-shadow: 0px 0px 15px rgba(119, 103, 103, 0.15);
        }
        &-btn {
            position: absolute;

        }

    }
    &_transparent {
        background-color: transparent;
        .header {
            &__head {
                a,
                .link {
                    color: $white;
                    @include animate(all);
                    &:hover {
                        color: transparentize($white, 0.5);
                    }
                }
                &-phone {
                    .icon {
                        color: $notwhite;
                    }
                    a.phone {
                        color: $notwhite;
                    }
                }
            }
            &__menu {
                &-line {
                    display: none;
                }
                a,
                .link {
                    color: $white;
                    @include animate(all);
                    &:hover {
                        color: transparentize($white, 0.5);
                    }
                }
                &-dot {
                    background-color: $white;
                }
                .icon {
                    color: $white;
                }
                &-sublist,
                .sub-menu {
                    &.menu-item {
                        @include respond-to('mobile') {
                            font-size: 10px;
                        }
                    }
                    a,
                    .link {
                        color: $headingColor;
                        @include respond-to('mobile') {
                            color: $white;
                            font-size: 10px;
                        }
                        @include animate(all);
                        &:hover {
                            color: transparentize($headingColor, 0.5);
                        }
                    }
                }
            }
        }
    }
}

body.scroll {
    .header {
        &__search {
            .icon-search {
                @include respond-to('mobile') {
                    margin-bottom: 22px;
                }
            }
        }
        &__burger {
            @include respond-to('mobile') {
                margin-bottom: 20px;
            }
        }
        &__head {
            overflow: hidden;
            padding: 0;
            max-height: 0;
            @include animate(all);
        }
        &__menu {
            @include animate(all);
            background: $headingColor;
            padding: 5px 0 10px;
            @include respond-to('tablet') {
                margin: 0;
            }
            a,
            .link {
                @include animate(all);
                color: $greyColor;
                &:hover {
                    color: $linkColor;
                }
            }
            &-wrapper{
                align-items: center;
            }
            &-logo {
                width: 195px;
                margin: 0;
                .logo {
                    display: none;
                }
                .logo-scroll {
                    display: block;
                }
            }
            &-nav {
                align-items: center;
                margin-bottom: 0;
            }
            li,
            .menu-item {
                &.active {
                    a {
                        color: $white;
                    }
                }
            }
            &-dot {
                display: block;
                @include respond-to('tablet') {
                    display: none;
                }
                @include respond-to('mobile') {
                    display: block;
                    margin-bottom: 20px;
                }
            }
            .icon {
                color: $greyColor;
            }
            &-span {
                color: $white;
            }
            &-line {
                display: none;
            }
        }
        &_transparent {
            .header {
                &__head {
                    a,
                    .link {
                        @include animate(all);
                        color: $white;
                        &:hover {
                            color: transparentize($white, 0.5);
                        }
                    }
                    &-phone {
                        .icon {
                            color: $notwhite;
                        }
                        a.phone {
                            color: $notwhite;
                        }
                    }
                }
                &__menu {
                    &-line {
                        display: none;
                    }
                    a,
                    .link {
                        @include animate(all);
                        color: $white;
                        &:hover {
                            color: transparentize($white, 0.5);
                        }
                    }
                    &-dot {
                        background-color: $white;
                    }
                    .icon {
                        color: $white;
                    }
                    .sub-menu {
                        a,
                        .link {
                            color: $headingColor;
                            @include respond-to('mobile') {
                                color: $white;
                                font-size: 10px;
                            }
                            @include animate(all);
                            &:hover {
                                color: transparentize($headingColor, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

html.nav-active {
    .header {
        &__burger {
            position: absolute;
            z-index: 101;
            right: 35px;
            top: 35px;
            span {
                background-color: $white;
            }
        }
        &__menu {
            &-list {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include respond-to('mobile') {
                    align-items: flex-start;
                }
            }
            a,
            .link {
                @include animate(all);
                color: $white;
                &:hover {
                    color: transparentize($white, 0.5);
                }
            }
            li,
            .menu-item {
                margin-bottom: 14px;
                /*&:nth-last-child(-n + 2) {
                    margin-bottom: 0;
                }*/
                &.active, &:hover {
                    a {
                        color: $greyColor;
                    }
                }
            }
            .header__menu-items {
                padding: 84px 20px;
                display: flex;
                position: fixed;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100vw;
                height: 100vh;
                z-index: 100;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(107.55deg, rgba(26, 30, 32, 1) 0%, rgba(39, 49, 54, 1) 107.79%);
                @include animate(all);
                @include respond-to('mobile') {
                    justify-content: space-around;
                }
                &:before {
                    content: "";
                    display: block;
                }
            }
            &-lang {
                align-items: center;
            }
        }
    }
}


